body{
    margin: 0;
    background-color: rgb(233, 233, 212);
}
h1,h2{
    margin: 0;
    padding: 0;
}
header{
    height: 100px;
    background-color: lightblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 70%;
    margin: auto;
    text-align: center;
}
#again{
    background-color: lime;
    border: 2px solid rgb(37, 168, 37);
    width: 130px;
    margin-top: 25px;
}
#announce{
    margin-top: 20px;
    font-size: 30px;
    
}
#score{
    display: flex;
    justify-content:space-evenly;
    
    height: 180px;
}
#human{
    width: 35%;
}
#computer{
    width: 35%;
}
#score h2{
    margin-top: 20px;
}
#buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}
button{
    background-color: lightblue;
    border: 2px solid rgb(115, 166, 184);
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
}